.tree {
  .tagged-text ul {
    padding: 0;
    position: relative;
    margin: 0;
  }

  .tagged-text > li, li.tagged-text {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    min-width: 25px;
    margin: 0;
  }

  .tagged-text li span.tag, li.tagged-text span.tag {
    border-width: 1px;
    border-style: solid;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 5px;
    font-size: 11px;
    color: #000;
  }

  .tagged-text > li:only-child, li.tagged-text:only-child {
    padding: 0 5px;
  }
}

.tagged-text ul, ul.tagged-text {
  padding: 0;
  position: relative;
  margin: 0;
}

.tagged-text li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 0;
  min-width: 25px;
  margin: 0 2px;
}

ul.tagged-text > li:before, ul.tagged-text > li:after {
  display: block;
}

.tagged-text ul:before, .tagged-text ul:after, .tagged-text li:before,
.tagged-text li:after {
  display: none;
}

.tagged-text li.chunk li {
  margin: 2px 0;
  padding: 0 0 0 5px;
}

.tagged-text li.chunk li:last-child {
  padding: 0 5px;
}

.tagged-text li.chunk li:only-child {
  padding: 0 5px;
}

.tagged-text li span.tag {
  border-width: 1px;
  border-style: solid;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 5px;
  font-size: 11px;
}

div.curly-brace + ul li:only-child {
  width: 100%;
  margin-left: 0;
}

div.curly-brace {
  width: 100%;
  position: relative;
}

div.brace {
  border-bottom: 2px solid;
  margin: -5px 20% 0 20%;
  width: 10%;
  height: 10px;
  float: left;
}

div.brace:before, div.brace:after {
  content: "";
  width: 20%;
  height: 20px;
  position: absolute;
  display: block;
}

div.brace.right:before {
  border-bottom: 2px solid;
  border-bottom-left-radius: 6px;
  margin-left: -20%;
  margin-top: -10px;
}

div.brace.right:after {
  border-top: 2px solid;
  border-top-right-radius: 6px;
  margin-left: 10%;
  margin-top: 8px;
}

div.brace.left:before {
  border-top: 2px solid;
  border-top-left-radius: 6px;
  margin-left: -20%;
  margin-top: 8px;
}

div.brace.left:after {
  border-bottom: 2px solid;
  border-bottom-right-radius: 6px;
  margin-left: 10%;
  margin-top: -10px;
}

/*
 * Colors taken from brat CoreNLP configuration
 * see: https://github.com/nlplab/brat/blob/master/configurations/Stanford-CoreNLP/visual.conf
 */
$light-grey: #e3e3e3;
$light-purple: #ccadf6;
$yellow: #fffda8;
$blue: #a4bced;
$brown: #ffe8be;
$green: #adf6a2;
$violet: #e4cbf6;

@mixin label-hover($color) {
  > span.tag {
    background: darken($color, 10%);
    border-color: darken(darken($color, 40%), 20%);
  }
  > div.curly-brace + ul li {
    background: opacify(transparentize($color, 0.6), 0.2);
  }
  > div.curly-brace {
    color: darken(darken($color, 40%), 5%);
  }
}

@mixin label($color) {
  > span.tag {
    color: #000;
    background: $color;
    border-color: darken($color, 40%);
  }
  > div.curly-brace + ul li {
    background: transparentize($color, 0.6);
  }
  > div.curly-brace {
    color: darken($color, 40%);
  }
  ul.tagged-text &:hover, &.tagged-text:hover {
    @include label-hover($color);
  }
  & > span.tag:hover {
    background: darken($color, 5%);
    border-color: darken(darken($color, 40%), 20%);
  }
}

/*
 * Coordination and Punctuation, Clauses
 */
.label_CC, .label_PUNCT, .label_S, .label_SBAR, .label_SBARQ, .label_SINV,
.label_SQ, .label_FRAG, .label_LST, .label_PRN, .label_RRC, .label_UCP,
.label_X, .label_ROOT {
  @include label($light-grey);
}

/*
 * Adjectives and adverbs
 */
.label_JJ, .label_JJR, .label_JJS, .label_RB, .label_RBR, .label_RBS,
.label_WRB, .label_ADJP, .label_ADVP, .label_WHADJP, .label_WHADVP {
  @include label($yellow);
}

/*
 * Determiners, numbers, pronouns
 */
.label_DT, .label_PDT, .label_WDT, .label_CD, .label_PRP, .label_PRPDOLLAR,
.label_WP, .label_WPDOLLAR {
  @include label($light-purple);
}

/*
 * Nouns, noun phrases
 */
.label_NN, .label_NNP, .label_NNPS, .label_NNS, .label_NP, .label_NX,
.label_QP, .label_WHNP {
  @include label($blue);
}

/*
 * Prepositions, conjunctions
 */
.label_IN, .label_TO, .label_CONJP, .label_PP, .label_WHPP {
  @include label($brown);
}

/*
 * Verbs
 */
.label_MD, .label_VB, .label_VBD, .label_VBG, .label_VBN, .label_VBP,
.label_VBZ, .label_VP {
  @include label($green);
}

/*
 * Miscellaneous
 */
.label_EX, .label_FW, .label_LS, .label_POS, .label_RP, .label_SYM,
.label_UH, .label_DOLLAR, .label_INTJ, .label_PRT
{
  @include label($violet);
}

.tree li span:hover + ul {
  /*
   * Coordination and Punctuation, Clauses
   */
  .label_CC, .label_PUNCT, .label_S, .label_SBAR, .label_SBARQ, .label_SINV,
  .label_SQ, .label_FRAG, .label_LST, .label_PRN, .label_RRC, .label_UCP,
  .label_X, .label_ROOT {
    @include label_hover($light-grey);
  }

  /*
   * Adjectives and adverbs
   */
  .label_JJ, .label_JJR, .label_JJS, .label_RB, .label_RBR, .label_RBS,
  .label_WRB, .label_ADJP, .label_ADVP, .label_WHADJP, .label_WHADVP {
    @include label_hover($yellow);
  }

  /*
   * Determiners, numbers, pronouns
   */
  .label_DT, .label_PDT, .label_WDT, .label_CD, .label_PRP, .label_PRPDOLLAR,
  .label_WP, .label_WPDOLLAR {
    @include label_hover($light-purple);
  }

  /*
   * Nouns, noun phrases
   */
  .label_NN, .label_NNP, .label_NNPS, .label_NNS, .label_NP, .label_NX,
  .label_QP, .label_WHNP {
    @include label_hover($blue);
  }

  /*
   * Prepositions, conjunctions
   */
  .label_IN, .label_TO, .label_CONJP, .label_PP, .label_WHPP {
    @include label_hover($brown);
  }

  /*
   * Verbs
   */
  .label_MD, .label_VB, .label_VBD, .label_VBG, .label_VBN, .label_VBP,
  .label_VBZ, .label_VP {
    @include label_hover($green);
  }

  /*
   * Miscellaneous
   */
  .label_EX, .label_FW, .label_LS, .label_POS, .label_RP, .label_SYM,
  .label_UH, .label_DOLLAR, .label_INTJ, .label_PRT
  {
    @include label_hover($violet);
  }
}
